@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.solarized.base3');
  --foreground: theme('colors.solarized.base00');
}

.dark {
  --background: theme('colors.solarized.base03');
  --foreground: theme('colors.solarized.base0');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .preview-container {
    @apply bg-solarized-base3 dark:bg-solarized-base03 text-solarized-base00 dark:text-solarized-base0;
  }

  .prose pre {
    @apply bg-solarized-base2 dark:bg-solarized-base02;
  }

  .prose code {
    @apply text-solarized-base01 dark:text-solarized-base1 bg-solarized-base2 dark:bg-solarized-base02;
  }

  .prose a {
    @apply text-solarized-blue dark:text-solarized-blue;
  }

  .prose strong {
    @apply text-solarized-base01 dark:text-solarized-base1;
  }

  .prose blockquote {
    @apply border-l-4 border-solarized-base1 dark:border-solarized-base01;
  }

  .prose ul > li::before {
    @apply bg-solarized-base1 dark:bg-solarized-base01;
  }

  .prose ol > li::before {
    @apply text-solarized-base1 dark:text-solarized-base01;
  }
}

